<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <footer id="backgroundfoter">
        <section id="navsecgrid">
            <div>
                <ul>
                    <li><a href="">Service</a></li> <br>
                    <li><a href="">Über uns</a></li>
                    <li><a href="">Versand</a></li>
                    <li><a href="">Recycling</a></li>
                    <li><a href="">Zahlung</a></li>
                    <li><a href="">Kontakt</a></li>
                    <li><a href="">AGB</a></li>
                    <li><a href="">Datenschutz</a></li>
                    <li><a href="">Widerruf</a></li>
                    <li><a href="">Impressum</a></li>
                    <li><a href="">Affiliate</a></li>
                </ul>
            </div>
            <div>
                <ul id="navfooterimg">
                    <li><a href=""><img src="facebook 1.svg" alt=""></a></li>
                    <li><a href=""><img src="instagram 1.svg" alt=""></a></li>
                    <li><a href=""><img src="youtube 1.svg" alt=""></a></li>
                    <li><a href=""><img src="whatsapp 1.svg" alt=""></a></li>
                </ul>
                <h1 class="abdulh1">NEWSLETTER ABONNIEREN</h1>
                <p class="abdulpar1">Melde dich jetzt zum Newsletter an und erhalte <span>10% Willkommensrabatt.</span></p>
                <div class="navdivsubmit">
                <input id="footernavsuche" type="text">
                <input id="footernavsubmit" type="submit" value="10% SPAREN">
               </div>
            </div>
            <div>
                <ul id="navfooter2link">
                    <li><a href="">BELIEBTE <br> KATEGORIEN</a></li> <br>
                    <li><a href="">Kalorienrechner</a></li>
                    <li><a href="">Abnehmen</a></li>
                    <li><a href="">Muskelaufbau</a></li>
                    <li><a href="">Low Carb</a></li>
                    <li><a href="">vegan</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Sport</a></li>
                </ul>
            </div>
        </section>
           <div class="navborderbottom"></div>
        <section class="navfootfootsec">
            <div class="fotpaze1padi">
                <p id="fotnavparaaa0">© 2020 FITMEAL<span>. Made with love. Powered by Shopify</span></p>
                <ul class="fotnavppptop">
                    <li><p>inkl. MwSt., zzgl. Versandkosten</p></li> <br>
                    <li><p>Lieferung jeden Di, Mi, Do + Fr</p></li>
                </ul>
            </div>
        
            <div class="fotpaze1padiimg">
                <ul id="fotnavimg">
                    <li><a href=""><img src="Frame.svg" alt=""></a></li>
                    <li><a href=""><img src="Frame (1).svg" alt=""></a></li>
                    <li><a href=""><img src="Frame (2).svg" alt=""></a></li>
                    <li><a href=""><img src="Frame (3).svg" alt=""></a></li>
                    <li><a href=""><img src="Frame (4).svg" alt=""></a></li>
                    <li><a href=""><img src="Frame (5).svg" alt=""></a></li>
                </ul>
            </div>
        </section>
    </footer>
</body>
</html>