<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <section id="navsec1">
      <p>Leckeres, gesundes Essen</p>
      <p>Lieferung in ganz Deutschland + BeNeLux</p>
      <p>Einfachste Zubereitung in 4 Minuten</p>
  </section>    
  <nav id="navnav1">
       <ul>
         <li><a href="/products">PRODUKTE</a></li>
           <li><a href="">PROBIEREN</a></li>
             <li><a href="/kalorienbedarf">KALORIENRECHNER</a></li>
               <li><a href="">FAQ</a></li>
               <li><a href="/auth/login">Login</a></li>
               <li><a href="/auth/logout">Logout</a></li>
               <li><a href="/profile/">Profil</a></li>
       </ul>
       <ul>
         <li><a href="/"> <img src="/logo.png" alt=""> </a></li>
       </ul>
  </nav>
</body>
</html>