<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <section class="search">
        <article>
            <div id="search_top">
                <img src="/filter.png" alt="">
                <h1>FILTER</h1>
            </div>
            <form action="/filter" method="POST">

                <div>
                    <h3>KATEGORIE</h3>

                    <select name="category" id="">
                        <option value="Huhn"> HUHN</option>
                        <option value="Rind"> RIND</option>
                        <option value="Vegan"> VEGAN</option>
                        <option value="Fisch"> FISCH</option>
                        <option value="Appetizer"> APPETIZER</option>
                    </select>
                </div>


                <div>
                    <h3>ALLERGENE</h3>

                    <select name="allergene" id="">
                        <option value="keine Allergene"> KEINE ALLERGENE</option>
                        <option value="glutenfrei"> GLUTENFREI</option>
                        <option value="laktosefrei"> LAKTOSEFREI</option>
                        <option value="ohne Nüsse"> OHNE NÜSSE</option>
                    </select>

                </div>

                <div>
                    <h3>TYP</h3>

                    <select name="type" id="">
                        <option value="Gericht"> GERICHT</option>
                        <option value="Snack"> SNACK</option>
                    </select>

                </div>


                <div>
                    <h3>EIGENSCHAFT</h3>


                    <select name="properties" id="">
                        <option value="low carb"> LOW CARB</option>
                        <option value="high protein"> HIGH PROTEIN</option>
                        <option value="high carb"> HIGH CARB</option>
                        <option value="low calories"> LOW CALORIES</option>
                        <option value="low fat"> LOW FAT</option>
                    </select>

                </div>

                <input id="search_btn" type="submit" value="Los geht's!">
            </form>
        </article>
        <article>
            <h3>Noch unsicher?</h3>
            <h3>Lass dich überaschen!</h3>
            <form action="/random">
                <input id="search_btn2" type="submit" value="zufällige Speisen">
            </form>
        </article>
    </section>


</body>

</html>