<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <section class="search">
        <img src="/filter.png" alt="">
        <h1>FILTER</h1>
                <form action="/filter" method="POST">
                    <!-- <div>
                        <h3>ZIEL</h3>
                    </div>
        
                    <input type="radio" id="ziel1" name="ziel" value="abnehmen">
                    <label for="ziel1"> ABNEHMEN</label><br>
                    <input type="radio" id="ziel2" name="ziel" value="muskel">
                    <label for="ziel2"> MUSKELAUFBAU</label><br>
                    <input type="radio" id="ziel3" name="ziel" value="gesund">
                    <label for="ziel3"> GESUND LEBEN</label><br> -->
    
                    <div>
                        <h3>KATEGORIE</h3>
                    </div>
                    <input type="radio" id="" name="category" value="Huhn">
                    <label for=""> HUHN</label><br>
                    <input type="radio" id="" name="category" value="Rind">
                    <label for=""> RIND</label><br>
                    <input type="radio" id="" name="category" value="Vegan">
                    <label for=""> VEGAN</label><br>
                    <input type="radio" id="" name="category" value="Fisch">
                    <label for=""> FISCH</label><br>
                    <input type="radio" id="" name="category" value="Appetizer">
                    <label for=""> APPETIZER</label><br>

                    <div>
                        <h3>ALLERGENE</h3>
                    </div>

                    <input type="radio" id="allergene1" name="allergene" value="glutenfrei">
                    <label for="allergene1"> GLUTENFREI</label><br>
                    <input type="radio" id="allergene2" name="allergene" value="laktosefrei">
                    <label for="allergene2"> LAKTOSEFREI</label><br>
                    <input type="radio" id="allergene3" name="allergene" value="ohne Nüsse">
                    <label for="allergene3"> OHNE NÜSSE</label><br>
                    <input type="radio" id="allergene4" name="allergene" value="keine Allergene">
                    <label for="allergene3"> KEINE ALLERGENE</label><br>

                    <div>
                        <h3>TYP</h3>
                    </div>

                    <input type="radio" id="typ1" name="type" value="Gericht">
                    <label for="typ1"> GERICHT</label><br>
                    <input type="radio" id="typ2" name="type" value="Snack">
                    <label for="typ2"> SNACK</label><br>

                    <div>
                        <h3>EIGENSCHAFT</h3>
                    </div>

                    <input type="radio" id="eigenschaft1" name="properties" value="low carb">
                    <label for="eigenschaft1"> LOW CARB</label><br>
                    <input type="radio" id="eigenschaft2" name="properties" value="high protein">
                    <label for="eigenschaft2"> HIGH PROTEIN</label><br>
                    <input type="radio" id="eigenschaft3" name="properties" value="high carb">
                    <label for="eigenschaft3"> HIGH CARB</label><br>
                    <input type="radio" id="eigenschaft4" name="properties" value="low calories">
                    <label for="eigenschaft4"> LOW CALORIES</label><br>
                    <input type="radio" id="eigenschaft4" name="properties" value="low fat">
                    <label for="eigenschaft4"> LOW FAT</label><br>
    
                    <input type="submit" value="Submit">
                </form>

    </section>

</body>

</html>