<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="newData" method="POST">

    <input type="text" name="title" id="title" placeholder="title">
    <br>
    <input type="text" name="image" id="image" placeholder="image">
    <br>
    <input type="text" name="calories" id="calories" placeholder="calories">
    <br>
    <input type="text" name="protein" id="protein" placeholder="protein">
    <br>
    <input type="text" name="fat" id="fat" placeholder="fat">
    <br>
    <input type="text" name="carbs" id="carbs" placeholder="carbs">
    <br>
    <input type="text" name="price" id="price" placeholder="price">
    <br>
    <input type="text" name="category" id="category" placeholder="category">
    <br>
    <input type="text" name="allergene" id="allergene" placeholder="allergene">
    <br>
    <input type="text" name="type" id="type" placeholder="type">
    <br>
    <input type="text" name="properties" id="properties" placeholder="properties">
    <br>
    <input type="submit" value="send">
    </form>
    <div>
        <p>// min protein muskelaufbau: 30g
            // max calories abnehmen: 700 cal
            // protein cal carb fat gesund leben: fat max. 5g, carb max. 100g, protein max. 50g, cal max. 1000 cal
            
            // low carb: max. 30g
            // high protein: min. 30g
            // high carb: min. 150g</p>
    </div>
</body>
</html>