<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <section class="abduhinsec1">
           <p id="abduparaaa1">Eine ausgewogene Ernährung ist unabdingbar für die eigenen Trainingserfolge. Eine Faustregel lautet, dass etwa 70 Prozent des Trainingserfolges von der Ernährung abhängen und lediglich 30 Prozent auf das eigentliche Training entfallen.</p>
           <p id="abduparaaa2">Eine vielfältige und vor allem regelmäßige Ernährung genießt demnach oberste Priorität. Sollten keine entsprechenden Allergien oder Unverträglichkeiten vorliegen, ist ein gesunder Mix aus Fleisch, Fisch, Milchprodukten, Nudeln, Reis, Obst und Gemüse, sowie <br> Nüssen und Fetten anzustreben.</p>
           <h2 class="abduHaa123">Achte auf deine Kalorienzufuhr</h2>
           <p id="abduparaaa3">Die optimale Kalorienzufuhr ist von Mensch zu Mensch unterschiedlich. Geschlecht, Alter, das gesundheitliche Befinden, die körperliche Konstitution, sowie die jeweiligen Trainingsziele sind bedeutende Variablen, die beachtet werden müssen und weswegen stichfeste Richtwerte nur schwer anzusetzen sind.</p>
           <p id="abduparaaa4">Ein gesunder Mittelwert für gesunde Erwachsene, zwischen 25 und 50 Jahren, wird von der Deutschen Gesellschaft für Ernährung e.V. (DGE) wie folgt ausgegeben:</p>
           <p class="abduparaaa5und6">Männer: Ca. 2300 kcal pro Tag.</p> 
           <p class="abduparaaa5und6">Frauen: Ca. 1800 kcal pro Tag.</p>

           <h2 class="abduHaa123">Finde den richtigen Mix bei der Kalorienzufuhr</h2>
           <p id="abduparaaa7">Kohlenhydrate sind die quantitativ wichtigste Energiequelle für den Menschen, weswegen die DGE gesunden Erwachsenen empfiehlt, mindestens 50 Prozent ihrer täglichen Energiezufuhr in Form von Kohlenhydraten aufzunehmen. Weitere 30 Prozent sollten in Form von Fetten zugeführt werden. Der Anteil an gesättigten, einfach ungesättigten und mehrfach ungesättigten Fetten, liegt hier bei je 10 Prozent. Die restlichen Prozent werden durch Eiweiß komplettiert.</p>
           <p id="abduparaaa8">Ausgenommen von diesen Richtlinien sind Wettkampf- und Kraftsportler. Während sich für den Ausdauersportler eine erhöhte Kohlenhydratzufuhr von etwa 65 Prozent empfiehlt, muss beim Kraftsportler der erhöhte Eiweißbedarf abgedeckt werden. Ein guter Mittelwert liegt bei 1,4 bis 1,8 Gramm Eiweiß pro Kilogramm Körpergewicht.</p>
           <h2 class="abduHaa123">Kalorienbedarf selbst berechnen mit dem FITTASTE Kalorienrechner</h2>
    </section>
    <section class="abduhinsec2">
        <h2>Wie viele Kalorien benötige ich pro Tag?</h2>
          <p></p>
          <p></p>
        <h2>1. Dein Grundumsatz (Mifflin St. Joer Formel)</h2>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        <h2>2. Dein täglicher Kalorienbedarf pro Tag Frau und Mann</h2>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        <h2>3. Dein Ziel: Abnehmen, Gewicht halten oder Muskeln aufbauen?</h2>
          <p></p>
          <p></p>
        <h2>4. Beispiel</h2>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        <h2>5. Umsetzung</h2>
          <p></p>
          <p></p>
          <p></p>

    </section>
</body>
</html>