<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta
               name="viewport"
               content="width=device-width, initial-scale=1.0"
          />
          <link rel="stylesheet" href="/style.css" />
          <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
          <title>Document</title>
     </head>

     <body>
          <%-include('./partials/header')%>

          <section id="EfirstSection">
               <div class="EfirstDiv">
               <h1 class="EfirstH1">Zeit, Essen zu bestellen</h1>
               <p class="EfirstP">Jetzt Rezept Vorschlagen lassen</p>
               <input class="Esearch" type="search" name="search" id="search">
               <input class="Eanzeigen" type="submit" value="Anzeigen">
               </div>
               <img src="food.png" alt="">
          </section>
          <%-include('./partials/search') %>
          <section class="Efunktioniert">
               <div class="EfuntkioniertText">
                    <h3>So funktioniert FitMeal.de</h3>
                    <h2>So einfach geht es!</h2>
               </div>
               <article class="EgridItems">
               <div class="Estandort">
                    <div class="EflexDiv">
                    <h5 class="Enummer">1.</h5>
                    <img src="ziel1.png" alt="">
                    </div>
                    <h4 class="Emittel">Gib Deinen Standort an</h4>
                    <p class="Ebeschreinung">Gib Deine Adresse ein oder lasse uns Deine Position bestimmen.</p>
               </div>
               <div class="Estandort">
                    <div class="EflexDiv">
                    <h5 class="Enummer">2.</h5>
                    <img class="Esprudel" src="fusion.png" alt="">
                    </div>
                    <h4 class="Emittel">Speisen auf FitMeal.de auswählen</h4>
                    <p class="Ebeschreinung">Was trifft Deinen Geschmack? Klicke Dich durch zahlreiche Menüs und Bewertungen.</p>
               </div>
               <div class="Estandort">
                    <div class="EflexDiv">
                    <h5 class="Enummer">3.</h5>
                    <img src="lieferung1.png" alt="">
                    </div>
                    <h4 class="Emittel">Bezahlen und liefern lassen</h4>
                    <p class="Ebeschreinung">Bezahle bar oder online mit Kreditkarte, Klarna, PayPal, Bitcoin. Guten Appetit!</p>
               </div>
               </article>
          </section>
          <article class="EgreenText">
               <div class="EdivGreenTExt">
               <h3>DIE LECKERSTEN PRODUKTE GIBT ES HIER</h3>
               <h5>Ab Zustellung garantiert 5-9 Tage haltbar</h5>
               </div>
               <div class="EcheckEins">
                    <p>✔️ Wir kochen frisch, lecker & gesund</p>
                    <p>✔️ Gekühlte Lieferung zu deiner Wunschadresse </p>
                    <p>✔️ Lieferung mehrmals pro Woche (Di, Mi, Do + Fr)✔️</p>
               </div>
               <div class="EcheckEins">
                    <p>✔️ Nur die beste Qualität in allen Gerichten </p>
                    <p>✔️ Fertig in nur 4 Minuten</p>
               </div>
          </article>
               <h1>Meal - Alle gerichte</h1>
          <section class="EGerichte">
               
               <div class="EgerichteKategorien">
                    <img src="LowCarb.png" alt="">
                    <div class="Epreis">
                         <h5>Low Carb Box</h5>
                         <h4>ab 49,99 €</h4>
                    </div>
                    <div class="EBorderBottom">
                         <h1></h1>
                         <h6>(€Inf/kg)</h6>
                    </div>
                    <div class="ESofort">
                         <p>sofort Lieferbar</p>
                         <div class="EWarenkorb">
                              <input type="number" name="number" id="number">
                              <input type="submit" value="IN DEN WARENKORB">
                         </div>
                    </div>
               </div>
               <div class="EgerichteKategorien">
                    <img src="Muskelaufbau.png" alt="">
                    <div class="Epreis">
                         <h5></h5>
                         <h4>ab 49,99 €</h4>
                    </div>
                    <div class="EBorderBottom">
                         <h1></h1>
                         <h6>(€Inf/kg)</h6>
                    </div>
                    <div class="ESofort">
                         <p>sofort Lieferbar</p>
                         <div class="EWarenkorb">
                              <input type="number" name="number" id="number">
                              <input type="submit" value="IN DEN WARENKORB">
                         </div>
                    </div>
               </div>
               <div class="EgerichteKategorien">
                    <img src="VeganBox.png" alt="">
                    <div class="Epreis">
                         <h5></h5>
                         <h4>ab 49,99 €</h4>
                    </div>
                    <div class="EBorderBottom">
                         <h1></h1>
                         <h6>(€Inf/kg)</h6>
                    </div>
                    <div class="ESofort">
                         <p>sofort Lieferbar</p>
                         <div class="EWarenkorb">
                              <input type="number" name="number" id="number">
                              <input type="submit" value="IN DEN WARENKORB">
                         </div>
                    </div>
               </div>
               <div class="EgerichteKategorien">
                    <img src="KennenlernBox.png" alt="">
                    <div class="Epreis">
                         <h5></h5>
                         <h4>ab 49,99 €</h4>
                    </div>
                    <div class="EBorderBottom">
                         <h1></h1>
                         <h6>(€Inf/kg)</h6>
                    </div>
                    <div class="ESofort">
                         <p>sofort Lieferbar</p>
                         <div class="EWarenkorb">
                              <input type="number" name="number" id="number">
                              <input type="submit" value="IN DEN WARENKORB">
                         </div>
                    </div>
               </div>
               <div class="EgerichteKategorien">
                    <img src="ProbierBox.png" alt="">
                    <div class="Epreis">
                         <h5></h5>
                         <h4>ab 49,99 €</h4>
                    </div>
                    <div class="EBorderBottom">
                         <h1></h1>
                         <h6>(€Inf/kg)</h6>
                    </div>
                    <div class="ESofort">
                         <p>sofort Lieferbar</p>
                         <div class="EWarenkorb">
                              <input type="number" name="number" id="number">
                              <input type="submit" value="IN DEN WARENKORB">
                         </div>
                    </div>
               </div>
               <div class="EgerichteKategorien">
                    <img src="MuskelAsiaBox.png" alt="">
                    <div class="Epreis">
                         <h5></h5>
                         <h4>ab 49,99 €</h4>
                    </div>
                    <div class="EBorderBottom">
                         <h1></h1>
                         <h6>(€Inf/kg)</h6>
                    </div>
                    <div class="ESofort">
                         <p>sofort Lieferbar</p>
                         <div class="EWarenkorb">
                              <input type="number" name="number" id="number">
                              <input type="submit" value="IN DEN WARENKORB">
                         </div>
                    </div>
               </div>
          </section>
          <%-include('./partials/footer')%>

     </body>
</html>
