<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta
               name="viewport"
               content="width=device-width, initial-scale=1.0"
          />
          <link rel="stylesheet" href="/style.css" />
          <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
          <title>Fit Meal</title>
     </head>

     <body>
          <%-include('./partials/header')%>

          <section id="EfirstSection">
             
               <div class="EfirstDiv">
               <h1 class="EfirstH1">Zeit, Essen zu bestellen</h1>
               </div>
         
               <img src="kiwi_crop.png" alt="">
              
          </section>
       
          <%-include('./partials/search') %>
          <section class="Efunktioniert">
               <div class="EfuntkioniertText">
                    <h3>So funktioniert FitMeal.de</h3>
                    <h2>So einfach geht es!</h2>
               </div>
               <article class="EgridItems">
               <div class="Estandort">
                    <div class="EflexDiv">
                    <h5 class="Enummer">1.</h5>
                    <img src="ziel1.png" alt="">
                    </div>
                    <h4 class="Emittel">Gib Deinen Standort an</h4>
                    <p class="Ebeschreinung">Gib Deine Adresse ein oder lasse uns Deine Position bestimmen.</p>
               </div>
               <div class="Estandort">
                    <div class="EflexDiv">
                    <h5 class="Enummer">2.</h5>
                    <img class="Esprudel" src="fusion.png" alt="">
                    </div>
                    <h4 class="Emittel">Speisen auf FitMeal.de auswählen</h4>
                    <p class="Ebeschreinung">Was trifft Deinen Geschmack? Klicke Dich durch zahlreiche Menüs und Bewertungen.</p>
               </div>
               <div class="Estandort">
                    <div class="EflexDiv">
                    <h5 class="Enummer">3.</h5>
                    <img src="lieferung1.png" alt="">
                    </div>
                    <h4 class="Emittel">Bezahlen und liefern lassen</h4>
                    <p class="Ebeschreinung">Bezahle bar oder online mit Kreditkarte, Klarna, PayPal, Bitcoin. Guten Appetit!</p>
               </div>
               </article>
          </section>
          <article class="EgreenText">
               <div class="EdivGreenTExt">
               <h3>DIE LECKERSTEN PRODUKTE GIBT ES HIER</h3>
               <h5>Ab Zustellung garantiert 5-9 Tage haltbar</h5>
               </div>
               <div class="EcheckEins">
                    <p>✔️ Wir kochen frisch, lecker & gesund</p>
                    <p>✔️ Gekühlte Lieferung zu deiner Wunschadresse </p>
                    <p>✔️ Lieferung mehrmals pro Woche (Di, Mi, Do + Fr)</p>
               </div>
               <div class="EcheckEins">
                    <p>✔️ Nur die beste Qualität in allen Gerichten </p>
                    <p>✔️ Fertig in nur 4 Minuten</p>
               </div>
          </article>
               <h1 class="EFitmealGerichte">FITMEAL - Alle Gerichte</h1>
          <section class="EGerichte">
               
               <div class="EgerichteKategorien">
                    <img src="LowCarb.png" alt="">
                    <div class="Epreis">
                         <h5>Low Carb Box</h5>
                         <h4>ab 49,99 €</h4>
                    </div>
                    <div class="EBorderBottom">
                         <h1></h1>
                         <h6>(€Inf/kg)</h6>
                    </div>
                    <div class="ESofort">
                         <p>sofort Lieferbar</p>
                         <div class="EWarenkorb">
                              <div class="buttons">
                                   <button>-</button>
                              <input class="Epeople" type="number" name="number" id="number">
                              <button onchange="">+</button>
                              </div>
                              <form action="/pay1/2" method="POST">
                                   <input class="Warenkorb" type="submit" value="Jetzt bestellen">
                              </form>
                                        </div>
                    </div>
               </div>
               <div class="EgerichteKategorien">
                    <img src="Muskelaufbau.png" alt="">
                    <div class="Epreis">
                         <h5>Muskelaufbau Box</h5>
                         <h4>ab 49,99 €</h4>
                    </div>
                    <div class="EBorderBottom">
                         <h1></h1>
                         <h6>(€Inf/kg)</h6>
                    </div>
                    <div class="ESofort">
                         <p>sofort Lieferbar</p>
                         <div class="EWarenkorb">
                              <div class="buttons">
                                   <button>-</button>
                              <input class="Epeople" type="number" name="number" id="number">
                              <button onchange="">+</button>
                              </div>

                              <form action="/pay1/3" method="POST">
                                   <input class="Warenkorb" type="submit" value="Jetzt bestellen">
                              </form>
                                        </div>
                    </div>
               </div>
               <div class="EgerichteKategorien">
                    <img src="VeganBox.png" alt="">
                    <div class="Epreis">
                         <h5>VEGAN 6er Box</h5>
                         <h4>ab 49,99 €</h4>
                    </div>
                    <div class="EBorderBottom">
                         <h1></h1>
                         <h6>(€Inf/kg)</h6>
                    </div>
                    <div class="ESofort">
                         <p>sofort Lieferbar</p>
                         <div class="EWarenkorb">
                              <div class="buttons">
                                   <button>-</button>
                              <input class="Epeople" type="number" name="number" id="number">
                              <button onchange="">+</button>
                              </div>

                              <form action="/pay1/4" method="POST">
                                   <input class="Warenkorb" type="submit" value="Jetzt bestellen">
                              </form>
                                        </div>
                    </div>
               </div>
               <div class="EgerichteKategorien">
                    <img src="KennenlernBox.png" alt="">
                    <div class="Epreis">
                         <h5>Kennenlernpaket - <br> frisch, gesund, lecker</h5>
                         <h4>ab 49,99 €</h4>
                    </div>
                    <div class="EBorderBottom">
                         <h1></h1>
                         <h6>(€Inf/kg)</h6>
                    </div>
                    <div class="ESofort">
                         <p>sofort Lieferbar</p>
                         <div class="EWarenkorb">
                              <div class="buttons">
                                   <button>-</button>
                              <input class="Epeople" type="number" name="number" id="number">
                              <button onchange="">+</button>
                              </div>

                              <form action="/pay1/5" method="POST">
                                   <input class="Warenkorb" type="submit" value="Jetzt bestellen">
                              </form>
                                        </div>
                    </div>
               </div>
               <div class="EgerichteKategorien">
                    <img src="ProbierBox.png" alt="">
                    <div class="Epreis">
                         <h5>Probierbox</h5>
                         <h4>ab 49,99 €</h4>
                    </div>
                    <div class="EBorderBottom">
                         <h1></h1>
                         <h6>(€Inf/kg)</h6>
                    </div>
                    <div class="ESofort">
                         <p>sofort Lieferbar</p>
                         <div class="EWarenkorb">
                              <div class="buttons">
                                   <button>-</button>
                              <input class="Epeople" type="number" name="number" id="number">
                              <button onchange="">+</button>
                              </div>

                              <form action="/pay1/6" method="POST">
                                   <input class="Warenkorb" type="submit" value="Jetzt bestellen">
                              </form>
                                        </div>
                    </div>
               </div>
               <div class="EgerichteKategorien">
                    <img src="MuskelAsiaBox.png" alt="">
                    <div class="Epreis">
                         <h5>6er Asia Muskelaufbaubox</h5>
                         <h4>ab 49,99 €</h4>
                    </div>
                    <div class="EBorderBottom">
                         <h1></h1>
                         <h6>(€Inf/kg)</h6>
                    </div>
                    <div class="ESofort">
                         <p>sofort Lieferbar</p>
                         <div class="EWarenkorb">
                              <div class="buttons">
                                   <button>-</button>
                              <input class="Epeople" type="number" name="number" id="number">
                              <button onchange="">+</button>
                              </div>

                              <form action="/pay1/7" method="POST">
                                   <input class="Warenkorb" type="submit" value="Jetzt bestellen">
                              </form>
                                                   </div>
                    </div>
               </div>
          </section>
          <section class="abdulsectparagrid">
               <h3 id="abdulhadh3">FitMeal.de</h3>
               <h2 id="abdulhadh2">Deine Zeit.</h2>
          </section>
          
          <section class="abdulsect3dive">
          <div class="abdulbordersgrid1">
            <div class="abdulgruneborderzw"></div>
                 <h2 class="abdulh2zwbor">Deine Extras</h2>
                 <p class="abdulparpar1">jede Menge großartiger Gutscheine und Rabatte</p>
                 <p class="abdulparpar2">Sammle Stempel und erfahre mehr über
                    Gewinnspiele, Rabatte, Neuigkeiten 
                    und mehr über unsere Newsletter 
                    und Sozialen Medien
                </p>
          </div>
          <div class="abdulbordersgrid2">
               <div class="abdulgruneborderzw"></div>
               <h2 class="abdulh2zwbor">Deine Garantie</h2>
               <p class="abdulparpar1">Exzellenter Service umsonst</p>
               <p class="abdulparpar2">Authentische Nutzerbewertungen</p>
               <p class="abdulparpar3">: Du bezahlst genauso viel für dein geliefertes Essen, wie wenn Du direkt beim Restaurant bestellst</p>
             
          </div>
               
          <div class="abdulbordersgrid3">
               <div class="abdulgruneborderzw"></div>
               <h2 class="abdulh2zwbor">Deine Vorteile</h2>
               <p class="abdulparpar1">15.000+ Lieferservices bieten Dir die größte Auswahl an Essen</p>
               <p class="abdulparpar2">Bezahle bar oder bargeldlos</p>
               <p class="abdulparpar3">Bestelle wo und wann Du willst mit jedem Gerät</p>
          </div>
          </section>
          <section class="abdulsecinfosflex">
            <div class="abduldivgredinfos11">
                 <p> Lust auf mehr? <br> Auf unserem Blog findest Du spannende News aus 
                    den Bereichen Food & Lifestyle!
                 </p>
                 <br>
                 <a class="abankabdulank" href="">> Zum Blog</a>
            </div>
            <div class="abduldivgredinfos22"></div>
            <div class="abduldivgredinfos33">
                 <h2>Food-Blog</h2>
                 <div class="abduldillon2">
                    <img src="/Dillon2.svg" alt="">
                    <div class="textscheibe">
                         <h3>Dillon Kydd</h3>
                         <p>100 SHARES</p>
                    </div>
                  
                 </div>
                <div class="abdulinna1">
                    <img src="/inna1.svg" alt="">
                    <div class="textscheibe">
                         <h3>Anna Olsen</h3> 
                         <p>100 SHARES</p>
                    </div>
                </div>
                 
            </div>
          </section>
          <section class="abdulsecnavbtwen3">
                <h4>Neu hier?</h4>
                <h2>Entdecke FitMeal.de</h2>
                <ul class="abdulullibtwen">
                     <li><a id="abduljustcolor" href="">städte</a></li>
                     <li><a href="">Regionen</a></li>
                     <li><a href="">Küchenrichtungen</a></li>
                     <li><a href="">Gerichte</a></li>
                     <li><a href="">Unsere Empfehlungen</a></li>
                     <li><a href="">Weitere Infos</a></li>
               </ul>
                <div class="abdulborderbottomsec3"></div>
          </section>
          <section class="abdulsec4textsec">
                    <h2>Gesunde Gerichte: Entdecke die FITMEAL Vielfalt</h2>
                      <p>Du glaubst, gesunde Ernährung und ein voller Terminkalender sind nicht vereinbar? Hier müssen wir Dir widersprechen! Auch wenn sich ein Termin an den Nächsten reiht, bleibt genügend Zeit, um sich gesund und vor allem auch lecker zu ernähren. Die Lösung sind gesunde Gerichte von FITMEAL. Du kannst bei uns verschiedene gesunde Gerichte mit Reis, Pasta und lecker gewürztem Fleisch bestellen, die Du in nur vier Minuten erwärmst und schließlich genießen kannst.</p>
                    <h2>Qualität ist für uns entscheidend</h2>
                      <p>Gesunde Gerichte von FITTASTE sind nicht nur lecker, sondern qualitativ auch besonders hochwertig. Wir verwenden für jedes Gericht ausschließlich beste Zutaten aus Deutschland, die hohen qualitativen Ansprüchen gerecht werden. Alle Zutaten werden schonend in die verschiedenen Gerichte verwandelt und mit Liebe gewürzt. Dadurch schmecken gesunde Gerichte von FITMEAL alles andere als langweilig.</p> 
                    <h2>Gute Fleischauswahl von Anfang an</h2>
                      <p>Zu einer proteinreichen Ernährung gehört natürlich auch eine Auswahl an Fleisch. Wir besinnen uns hier auf Hähnchen- und Rindfleisch. Rindfleisch ist eine der wichtigsten und wertvollsten Proteinquellen, die es für den menschlichen Körper gibt. Das Fleisch wird durch unsere Köche fettarm zubereitet, sodass es gut in gesunde Gerichte aus unserem Shop passt. Wenn Du kein Rindfleisch magst, kannst Du Dich natürlich auch für die Gerichte mit Hähnchenfleisch entscheiden. Die Hähnchenspezialitäten servieren wir Dir gern mit einer Auswahl an knackigem Gemüse. Natürlich legen wir auch beim Fleisch für Dich großen Wert auf eine exzellente Qualität. Gesunde Gerichte von FITMEAL kannst Du übrigens einzeln oder in der praktischen Box bestellen. Wie wäre es beispielsweise mit unserer Probierbox, mit der Du verschiedene Gerichte aus unserem Angebot bequem probieren kannst.</p>
          </section>
          <section class="abdulletztesecforfooter">
            <div class="abduldivfoterflexmitbilder1">
                    <img src="/PfeilLinks.svg" alt=""> <br>
                    <img id="abdulphotoRectangle33" src="/Rectangle33.svg" alt="">
            </div>
            <div class="abduldivfoterflexmitbilder2">
               <p>„Mittags genial: Die Meal-Prepper von FitMeal liefern  für bis zu 7 Tage fertige […] Fitness-Mahlzeiten frei Haus. Nach dem Mittagstraining feuere ich also das Essen in die Mikrowelle, super.“</p>
           </div>
           <div class="abduldivfoterflexmitbilder3">
               <img src="/PfeilRechts.svg" alt="">
           </div>
          </section>
          <%-include('./partials/footer')%>

     </body>
</html>
