<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%-include('./partials/header')%>
    <section class="abduhinsec1">
        <p id="abduparaaa1">Eine ausgewogene Ernährung ist unabdingbar für die eigenen Trainingserfolge. Eine Faustregel
            lautet, dass etwa 70 Prozent des Trainingserfolges von der Ernährung abhängen und lediglich 30 Prozent auf
            das eigentliche Training entfallen.</p>
        <p id="abduparaaa2">Eine vielfältige und vor allem regelmäßige Ernährung genießt demnach oberste Priorität.
            Sollten keine entsprechenden Allergien oder Unverträglichkeiten vorliegen, ist ein gesunder Mix aus Fleisch,
            Fisch, Milchprodukten, Nudeln, Reis, Obst und Gemüse, sowie <br> Nüssen und Fetten anzustreben.</p>
        <h2 class="abduHaa123">Achte auf deine Kalorienzufuhr</h2>
        <p id="abduparaaa3">Die optimale Kalorienzufuhr ist von Mensch zu Mensch unterschiedlich. Geschlecht, Alter, das
            gesundheitliche Befinden, die körperliche Konstitution, sowie die jeweiligen Trainingsziele sind bedeutende
            Variablen, die beachtet werden müssen und weswegen stichfeste Richtwerte nur schwer anzusetzen sind.</p>
        <p id="abduparaaa4">Ein gesunder Mittelwert für gesunde Erwachsene, zwischen 25 und 50 Jahren, wird von der
            Deutschen Gesellschaft für Ernährung e.V. (DGE) wie folgt ausgegeben:</p>
        <ul class="abduparaaa5und6">
            <li>Männer: Ca. 2300 kcal pro Tag.</li>
            <li>Frauen: Ca. 1800 kcal pro Tag.</li>
        </ul>
        <h2 class="abduHaa123">Finde den richtigen Mix bei der Kalorienzufuhr</h2>
        <p id="abduparaaa7">Kohlenhydrate sind die quantitativ wichtigste Energiequelle für den Menschen, weswegen die
            DGE gesunden Erwachsenen empfiehlt, mindestens 50 Prozent ihrer täglichen Energiezufuhr in Form von
            Kohlenhydraten aufzunehmen. Weitere 30 Prozent sollten in Form von Fetten zugeführt werden. Der Anteil an
            gesättigten, einfach ungesättigten und mehrfach ungesättigten Fetten, liegt hier bei je 10 Prozent. Die
            restlichen Prozent werden durch Eiweiß komplettiert.</p>
        <p id="abduparaaa8">Ausgenommen von diesen Richtlinien sind Wettkampf- und Kraftsportler. Während sich für den
            Ausdauersportler eine erhöhte Kohlenhydratzufuhr von etwa 65 Prozent empfiehlt, muss beim Kraftsportler der
            erhöhte Eiweißbedarf abgedeckt werden. Ein guter Mittelwert liegt bei 1,4 bis 1,8 Gramm Eiweiß pro Kilogramm
            Körpergewicht.</p>
        <h2 class="abduHaa123">Kalorienbedarf selbst berechnen mit dem FITTASTE Kalorienrechner</h2>
    </section>

    <section id="rechner" class="rechner">
        <h1> FITTASTE KALORIENRECHNER</h1>

        <form action="/rechner" method="POST">
            <div class="rechner_container">
                <img class="rechner_icon_big" src="/gender.png" alt="">
                <h3>GESCHLECHT</h3>
            </div>
            <div class="gender_block">
                <div class="gender">
                    <input type="radio" id="" name="gender" value="weiblich">
                    <label for="">Weiblich</label>
                    <img class="rechner_icon_small" src="/female.png" alt="">
                </div>
                <div class="gender">
                    <input type="radio" id="" name="gender" value="männlich">
                    <label for="">Männlich</label>
                    <img class="rechner_icon_small" src="/male.png" alt="">
                </div>
            </div>
            <div class="rechner_container">
                <img class="rechner_icon_big" src="/person.png" alt="">
                <h3>PERSÖNLICHE INFORMATIONEN</h3>
            </div>
            <div id="info">
                <div>
                    <h3>Alter</h3>
                    <input type="text" name="age" id="">
                </div>
                <div>
                    <h3>Körpergrösse</h3>
                    <input type="text" name="size" id="">
                </div>
                <div>
                    <h3>Gewicht</h3>
                    <input type="text" name="weight" id="">
                </div>
            </div>
            <div class="rechner_block">
                <div>
                    <div class="rechner_container">
                        <img class="bicycle" src="/bicycle.png" alt="">
                        <h3>KÖRPERLICHE AKTIVITÄT</h3>
                    </div>
                    <input type="radio" id="" name="activity" value="1.20">
                    <label for=""> kaum aktiv</label>
                    <a href="#abdulactivity1"><img class="rechner_icon_big" src="/information.png" alt=""></a><br>
                    <input type="radio" id="" name="activity" value="1.37">
                    <label for=""> leicht aktiv</label>
                    <a href="#abdulactivity1"><img class="rechner_icon_big" src="/information.png" alt=""></a><br>
                    <input type="radio" id="" name="activity" value="1.55">
                    <label for=""> aktiv</label><a href="#abdulactivity1"><img class="rechner_icon_big"
                            src="/information.png" alt=""></a><br>
                    <input type="radio" id="" name="activity" value="1.72">
                    <label for=""> sehr aktiv</label>
                    <a href="#abdulactivity1"><img class="rechner_icon_big" src="/information.png" alt=""></a><br>
                    <input type="radio" id="" name="activity" value="1.90">
                    <label for=""> profi Sportler</label>
                    <a href="#abdulactivity1"><img class="rechner_icon_big" src="/information.png" alt=""></a><br>
                </div>
                <div class="ziel">
                    <div class="rechner_container">
                        <img class="rechner_icon_big" src="/dumbbell.png" alt="">
                        <h3>TRAININGSZIEL</h3>
                    </div>
                    <input type="radio" id="" name="training" value="abnehmen">
                    <label for=""> Abnehmen</label><br>
                    <input type="radio" id="" name="training" value="gewicht_halten">
                    <label for=""> Gewicht halten</label><br>
                    <input type="radio" id="" name="training" value="muskelaufbau">
                    <label for=""> Muskelaufbau</label><br>
                </div>

            </div>

            <input id="rechner_btn" type="submit" value="Jetzt Kalorienbedarf berechnen">
        </form>

    </section>

    <section class="abduhinsec2">
        <h2 class="abdultexth2hin">Wie viele Kalorien benötige ich pro Tag?</h2>
        <p class="abdulparahinwe1">Deinen eigenen Kalorienbedarf kannst du mit der Mifflin-St.-Joer-Formel ganz bequem
            selbst herausfinden.</p>
        <p class="abdulparahinwe2">Berechnung des Grundumsatzes</p>
        <h2 class="abdultexth2hin">1. Dein Grundumsatz (Mifflin St. Joer Formel)</h2>
        <p class="abdulparahinwe3">Für Frauen gilt folgende Formel:</p>
        <p class="abdulparahinwe3">(Gewicht in kg x 10) + (Größe in cm x 6,25) - (Alter in Jahren x 5) - 161</p>
        <p class="abdulparahinwe3">Für Männer gilt folgende Formel:</p>
        <p class="abdulparahinwe3">(Gewicht in kg x 10) + (Größe in cm x 6,25) - (Alter in Jahren x 5) + 5</p>
        <h2 class="abdultexth2hin">2. Dein täglicher Kalorienbedarf pro Tag Frau und Mann</h2>
        <p class="abdulparahinwe4">Grundumsatz (siehe oben) x Deine Aktivität (siehe Tabelle unten) = Dein täglicher
            Kalorienbedarf</p>
        <p class="abdulparahinwe4">Aktivitätstabelle zur Berechnung deines Kalorienbedarfs</p>
        <p id="abdulactivity1" class="abdulparahinwe4">1,20 = kaum aktiv (Trainiert selten bis garnicht, ist im Beruf
            ausschließlich sitzend
            tätig)</p>
        <p class="abdulparahinwe4">1,37 = leicht aktiv (wenig Training (1 bis 2 Tage pro Woche), im Job meist sitzend
            tätig)</p>
        <p class="abdulparahinwe4">1,55 = aktiv (regelmäßig Sport (3 bis 5 Tage die Woche) oder leichte körperliche
            Arbeit)</p>
        <p class="abdulparahinwe4">1,72 = sehr aktiv (fast jeden Tag Training (6 bis 7 Tage die Woche) oder körperliche
            Arbeit)</p>
        <p class="abdulparahinwe4">1,90 = profi Aktivist (zwei mal täglich Sport oder ein besonders körperlich
            anstrengender Job)</p>
        <a class="isa_back2" href="#rechner">Zurück zum Kalorienrechner</a>
        <h2 class="abdultexth2hin">3. Dein Ziel: Abnehmen, Gewicht halten oder Muskeln aufbauen?</h2>
        <p class="abdulparahinwe5">Abnehmen: Dein ausgerechneter Kalorienbedarf - 300 kcal pro Tag Gewicht halten: Dein
            ausgerechneter Kalorienbedarf</p>
        <p class="abdulparahinwe5">Muskelaufbau: Dein ausgerechneter Kalorienbedarf + 300 kcal pro Tag</p>
        <h2 class="abdultexth2hin">4. Beispiel</h2>
        <p class="abdulparahinwe6">Frau:</p>
        <p class="abdulparahinwe6">Claudia, 73 kg, 168 cm groß, 39 Jahre, leicht aktiv (1,37)</p>
        <p class="abdulparahinwe6">Ziel: Abnehmen</p>
        <p class="abdulparahinwe6">= {(10 x 73) + (6.2 x 168) – (5 x 39) - 161} x 1,37 = (730 + 1050 -195 - 161) x 1,37
            = 1424 x 1,37 = 1951 kcal</p>
        <p class="abdulparahinwe6">Abnehmen: 1951 kcal - 300 kcal</p>
        <p class="abdulparahinwe6">= 1651 kcal</p>
        <p class="abdulparahinwe6">Der Kalorienverbrauch für Claudia liegt bei 1651 kcal pro Tag.</p>
        <p class="abdulparahinwe6">Mann:</p>
        <p class="abdulparahinwe6">Marc, 72 kg, 182 cm groß, 35 Jahre, sehr aktiv (1,72)</p>
        <p class="abdulparahinwe6">Ziel: Muskelaufbau</p>
        <p class="abdulparahinwe6">= {(10 x 72)+(6.25 x 182)–(5 x 35) + 5} x 1,72 = (720 + 1138 - 175 + 5) x 1,72 = 1688
            x 1,72 = 2903 kcal</p>
        <p class="abdulparahinwe6">Muskelaufbau: 2903 kcal + 300 kcal</p>
        <p class="abdulparahinwe6">= 3203 kcal</p>
        <p class="abdulparahinwe6">Der Kalorienverbrauch für Marc liegt bei 3203 kcal pro Tag.</p>
        <p class="abdulparahinwe8">Also, Taschenrechner raus und losrechnen!</p>
        <h2 class="abdultexth2hin">5. Umsetzung</h2>
        <p class="abdulparahinwe7">Wenn du jetzt deinen Kalorienbedarf ermittelt hast, geht es zum nächsten Schritt der
            Ernährung.</p>
        <p class="abdulparahinwe7">Ein typischer, umzusetzender Ernährungs-Plan könnte so aussehen, dass du drei
            Hauptmahlzeiten (Frühstück, <br> Mittagsessen, Abendessen) zu dir nimmst und dazwischen kleinere Snacks
            (z.B. Joghurt, Mandeln, Fitness-Riegel) einbaust.</p>
        <p class="abdulparahinwe7">Oftmals ist es schwer, die Kalorien eines Essens zu beziffern. Eine Hilfestellung
            bietet da fittaste - denn hier sind <br> die Kalorienangaben auf jeder Mahlzeit direkt enthalten.</p>
    </section>
    <%-include('./partials/footer')%>
</body>

</html>

</body>

</html>