<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta
               name="viewport"
               content="width=device-width, initial-scale=1.0"
          />
          <link rel="stylesheet" href="/style.css" />
          <title>Document</title>
     </head>

     <body>
          <%-include('./partials/header')%>

          <section class="Eprofile">
               <h1>welcome To our Website <%= user.firstName %></h1>
               <img src="<%=user.picture  %>" alt="" />
          </section>
          <%-include('./partials/footer')%>

     </body>
</html>
